@font-face {
  font-family: SourceSansPro;
  src: url(SourceSansPro-Regular.ttf);
}

header.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*a {
  color: #0087C3;
  text-decoration: none;
}

body {
  position: relative;
  width: 21cm;  
  height: 29.7cm; 
  margin: 0 auto; 
  color: #555555;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 14px; 
  font-family: SourceSansPro;
}*/

header.pdfMain {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #AAAAAA;
  color: #555555;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 12px; 
  font-family: SourceSansPro;
}

main.pdfMain {
    color: #555555;
    background: #FFFFFF; 
    font-family: Arial, sans-serif; 
    font-size: 12px; 
    font-family: SourceSansPro;
}

header.pdfMain #logo {
  float: left;
  margin-top: 8px;
}

header.pdfMain #logo img {
  height: 70px;
}

header.pdfMain #company {
  float: right;
  text-align: right;
}


main.pdfMain #details {
  margin-bottom: 50px;
}

main.pdfMain #client {
  padding-left: 6px;
  border-left: 6px solid #0087C3;
  float: left;
}

main.pdfMain #client .to {
  color: #777777;
}

main.pdfMain h2.name {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

main.pdfMain #invoice {
  float: right;
  text-align: right;
}

main.pdfMain #invoice h1 {
  color: #0087C3;
  font-size: 24px;
  line-height: 10px;
  font-weight: normal;
  margin: 0  0 10px 0;
}

main.pdfMain #invoice .date {
  font-size: 11px;
  color: #777777;
}

main.pdfMain table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

main.pdfMain table th,
main.pdfMain table td {
  padding: 20px;
  background: #EEEEEE;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}

main.pdfMain table th {
  white-space: nowrap;        
  font-weight: normal;
}

main.pdfMain table td {
  text-align: right;
}

main.pdfMain table td h3{
  color: #57B223;
  font-size: 12px;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

main.pdfMain table .no {
  color: #FFFFFF;
  font-size: 16px;
  background: #57B223;
}

main.pdfMain table .desc {
  text-align: left;
}

main.pdfMain table .unit {
  background: #DDDDDD;
}

main.pdfMain table .qty {
}

main.pdfMain table .total {
  background: #57B223;
  color: #FFFFFF;
}

main.pdfMain table td.unit,
main.pdfMain table td.qty,
main.pdfMain table td.total {
  font-size: 12px;
}

main.pdfMain table tbody tr:last-child td {
  border: none;
}

main.pdfMain table tfoot td {
  padding: 10px 20px;
  background: #FFFFFF;
  border-bottom: none;
  font-size: 12px;
  white-space: nowrap; 
  border-top: 1px solid #AAAAAA; 
}

main.pdfMain table tfoot tr:first-child td {
  border-top: none; 
}

main.pdfMain table tfoot tr:last-child td {
  color: #57B223;
  font-size: 14px;
  border-top: 1px solid #57B223; 

}

main.pdfMain table tfoot tr td:first-child {
  border: none;
}

main.pdfMain #thanks{
  font-size: 20px;
  margin-bottom: 50px;
}

main.pdfMain #notices{
  padding-left: 6px;
  border-left: 6px solid #0087C3;  
}

main.pdfMain #notices .notice {
  font-size: 12px;
}

main.pdfMain footer {
  color: #777777;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #AAAAAA;
  padding: 8px 0;
  text-align: center;
}
